
<div class="paperflow" id="posts">

<div class="flow-header">
    <div class="bloginfo-card">
      <div class="bloginfo-box">
          <h1 class="bloginfo-title">{{$.blogInfo.Title}}</h1>
          <p class="bloginfo-desc">{{$.blogInfo.SubTitle}}</p>
      </div>

      <div class="userinfo-box">
        <div class="userinfo-group">
          <img class="userinfo-avatar" src="{{$.blogInfo.UserLogo}}" alt="{{$.blogInfo.Username}}">
          <span class="userinfo-name">{{$.blogInfo.Username}}</span>
        </div>
      </div>
    </div>
</div>


{{range $.posts}}

<div class="each-post paper">

    <div class="paper-header post-info">
        <p>{{if .Tags}}<span>{{blogTags $ .Tags}}</span>{{end}}</p>
        <p><span class="fa fa-eye"></span>&nbsp;{{.ReadNum}}&nbsp;&nbsp;<i class="fa fa-clock-o"></i>&nbsp;{{.PublicTime | datetime}}</p>
    </div>

    <div class="post-inflow">
        <h2 class="post-title">{{if .Title}}<a href="{{$.postUrl}}/{{.UrlTitle}}" title="{{.Title}}">{{.Title}}</a>{{else}}<a href="{{$.postUrl}}/{{.UrlTitle}}" title="无题">无题</a>{{end}}</h2>
        <hr class="height1em"/>
        <div class="post-content">
            {{.Abstract | raw}}
        </div>
    </div>

    <div class="paper-footer">
        <a class="each-post-more" href="{{$.postUrl}}/{{.UrlTitle}}" title="{{.Title}}">阅读全文</a>
    </div>

</div>

{{else}}

<div class="each-post paper">
    <div class="post-inflow">
        <h2 class="post-title">么么哒</h2>
        <hr class="height1em"/>
        <div class="post-content">
            <div><div><p>该列表下暂无内容。</p></div></div>
        </div>
    </div>
</div>

{{end}}

<script>
$(function(){
    $(".post-content p > img:only-child").css({
        "display":"block",
        "margin":"0 auto"
    });
    $(".post-content p > img:only-child").parent().css({
        "padding":"0",
        "text-align":"center",
        "background-color":"#f7f7f7"
    });
    $(".post-content div > svg:only-child").parent().css({
        "padding":"0",
        "text-align":"center",
        "background-color":"#f7f7f7"
    });
    $(".post-content table").wrap("<p style='padding:0px;'></p>");
});
</script>

</div>

{{template "block-paging.html" $}}
